[Unit]
Description = Cart Service
[Service]
User=ecommerce
Environment=REDIS_HOST=redis.purushothamai.online
Environment=CATALOGUE_HOST=catalogue.purushothamai.online
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target