[Unit]
Description = Catalogue Service

[Service]
User=ecommerce
Environment=MONGO=true
Environment=MONGO_URL="mongodb://mongodb.purushothamai.online:27017/catalogue"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target