[Unit]
Description=Shipping Service

[Service]
User=ecommerce
Environment=CART_ENDPOINT=cart.purushothamai.online:8080
Environment=DB_HOST=mysql.purushothamai.online
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target