[Unit]
Description = User Service
[Service]
User=ecommerce
Environment=MONGO=true
Environment=REDIS_HOST=redis.purushothamai.online
Environment=MONGO_URL="mongodb://mongodb.purushothamai.online:27017/users"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target